<ion-header>
    <ion-toolbar>
        <ion-title>Cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>
        <ion-card-content>
            <ion-item>
                <ion-label class="label" position="stacked">Cédula</ion-label>
                <ion-input class="text" clearInput required="true" autofocus></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">Nombre</ion-label>
                <ion-input class="text" clearInput required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">RUC</ion-label>
                <ion-input class="text" clearInput required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">Telf.Convencional</ion-label>
                <ion-input class="text" clearInput required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">Celular</ion-label>
                <ion-input class="text" clearInput required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">E-mail</ion-label>
                <ion-input class="text" type="E-mail" clearInput required="true"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label class="label" position="stacked">Dirección</ion-label>
                <ion-textarea class="text" placeholder="Av. Simon Bolivar"></ion-textarea>
            </ion-item>
            <ion-button shape="round" fill="outline" expand="block">
                <ion-icon slot="start" name="person-add"></ion-icon>
                Agregar
            </ion-button>
        </ion-card-content>
    </ion-card>
</ion-content>