<ion-header>
    <ion-toolbar>
        <ion-title>
            Acerca de
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
        <img src="/assets/logoespe.png" alt="" />
        <ion-card-header>
            <ion-card-subtitle></ion-card-subtitle>
            <ion-card-title>Contacto</ion-card-title>
        </ion-card-header>
        <ion-card-content>
            <p>Programación Avanzada</p>
            <p>Desarrollador: Dennise Sandoval</p>
            <p>Institución: Universidad de las Fuerzas Armadas "ESPE"</p>
        </ion-card-content>
    </ion-card>
</ion-content>