<ion-header>
    <ion-toolbar>
        <ion-title>Clientes</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <table class="table" center>
        <thead>
            <tr>
                <th scope="col">Cedula</th>

                <th scope="col">Nombre</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let cr of classrooms">
                <td>{{cr.ciClient}}</td>
                <td> {{cr.nameClient}}</td>
                <td style="display: flex">
                    <ion-button color="warning" size="small" routerLink='/updatecustomer/{{cr.ciClient}}'>
                        <ion-icon name="create"></ion-icon>
                    </ion-button>
                </td>
            </tr>
        </tbody>
    </table>
</ion-content>