<ion-header>
    <ion-toolbar>
        <ion-title>Cliente</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content padding>
    <ion-card>

        <ion-card-content>

            <ion-button shape="round" fill="outline" expand="block" href="/tabs/customer">
                <ion-icon slot="start" name="person-add"></ion-icon>
                Agregar
            </ion-button><br>
            <ion-button shape="round" fill="outline" expand="block">
                <ion-icon slot="start" name="create"></ion-icon>
                Modificar
            </ion-button><br>
            <ion-button shape="round" fill="outline" expand="block">
                <ion-icon slot="start" name="trash"></ion-icon>
                Eliminar
            </ion-button><br>
            <ion-button shape="round" fill="outline" expand="block">
                <ion-icon slot="start" name="search"></ion-icon>
                Buscar
            </ion-button><br>
            <ion-button shape="round" fill="outline" expand="block">
                <ion-icon slot="start" name="list"></ion-icon>
                Ver Registros
            </ion-button>
        </ion-card-content>

    </ion-card>
</ion-content>